@import url('/css/fontawesome/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Kaiven';
        src: url("/fonts/Kaiven Regular Rounded.ttf") format('truetype');
    }
    @font-face {
        font-family: 'Bellenia Love';
        src: url("/fonts/Bellenia Love.ttf") format('truetype');
    }
}